name: Build native image

on: push

jobs:
  sample-job:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        gu-binary: [gu, gu.cmd]
        exclude:
          - os: ubuntu-latest
            gu-binary: gu.cmd
          - os: macos-latest
            gu-binary: gu.cmd
          - os: windows-latest
            gu-binary: gu
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100
      - uses: ilammy/msvc-dev-cmd@v1.9.0
        if: startswith(matrix.os, 'windows')
      - uses: microsoft/setup-msbuild@v1
        if: startswith(matrix.os, 'windows')
      - name: Setup Graalvm
        id: setup-graalvm
        uses: DeLaGuardo/setup-graalvm@master
        with:
          graalvm: '21.2.0'
          java: 'java11'
          arch: 'amd64'
      - name: Install native-image component
        run: |
          ${{ matrix.gu-binary }} install native-image
      - name: Run gradle build nativeImage
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: zipExecutable
      - uses: actions/upload-artifact@v2
        with:
          name: eb-${{ matrix.os }}
          path: build/distributions/*