name: check, build native image, and release

on: push

jobs:
  check:
    name: run gradle check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 100
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
      - uses: gradle/gradle-build-action@v2
      - name: gradle check
        run: ./gradlew check

  build:
    name: Build native image
    needs: [check]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        version: [latest]
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - uses: ilammy/msvc-dev-cmd@v1.10.0
      if: startswith(matrix.os, 'windows')
    - uses: microsoft/setup-msbuild@v1
      if: startswith(matrix.os, 'windows')
    - name: Setup Graalvm
      id: setup-graalvm
      uses: graalvm/setup-graalvm@v1
      with:
        version: ${{ matrix.version }}
        java-version: '11'
        components: 'native-image'
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Get the version
      id: get_version
      run: |
        echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}
    - uses: gradle/gradle-build-action@v2
      name: Run gradle nativeImage
      with:
        arguments: zipExecutable
    - name: Upload java dist asset
      uses: actions/upload-artifact@v2
      with:
        name: release-files
        path: build/distributions/

  release:
    name: publish on github release
    runs-on: ubuntu-latest
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Get the version
      id: get_version
      run: |
        echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}
    - name: Download artifact
      uses: actions/download-artifact@v2
      with:
        name: release-files
        path: distributions

    - name: Create release
      uses: "marvinpinto/action-automatic-releases@latest"
      id: create_release
      with:
        title: Release v${{ steps.get_version.outputs.VERSION }}
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        draft: false
        prerelease: false
        files: |
          distributions/*.zip